@page
@model AdventureWV2._1.Pages.HospitalityCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hospitality</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Hospitality.Hname" class="control-label"></label>
                <input asp-for="Hospitality.Hname" class="form-control" />
                <span asp-validation-for="Hospitality.Hname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospitality.Htype" class="control-label"></label>
                <input asp-for="Hospitality.Htype" class="form-control" />
                <span asp-validation-for="Hospitality.Htype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospitality.Hrating" class="control-label"></label>
                <input asp-for="Hospitality.Hrating" class="form-control" />
                <span asp-validation-for="Hospitality.Hrating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospitality.Lid" class="control-label"></label>
                <input asp-for="Hospitality.Lid" class="form-control" />
                <span asp-validation-for="Hospitality.Lid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
