@page
@model MIS353_ApplicationGroupKEAH.Pages.mapModel
@{
}
<body>

<h1 style="text-align-center;color:sandybrown">Map of West Virginia</h1>
    <img src="https://geology.com/cities-map/map-of-west-virginia-cities.gif" style="width:1150px;height:800px;" />

</body>  

<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Key Attractions</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h3 style="text-center-align;">Cooper's Rock</h3>
            <p></p>
            <p></p>
        </div>
        <div class="col-sm-4">
            <h3 style="text-center-align;">Harper's Ferry</h3>
        </div>
        <div class="col-sm-4">
            <h3 style="text-center-align;">New River Gorge Bridge</h3>
       </div>
    </div>
</div>

  