@page
@model MIS353_ApplicationGroupKEAH.Pages.mapModel
@{
}
<body>

<h1 style="text-align-center;color:sandybrown">Map of West Virginia</h1>
    <img src="https://geology.com/cities-map/map-of-west-virginia-cities.gif" style="width:1150px;height:800px;" />
<h2> Key Attractions </h2>
<ul>
    <li>Coopers Rock</li>
    <li>Cheat Lake</li>
    <li>New River Gorge Bridge</li>
    <li>Harper's Ferry</li>
</ul>

</body>  
</html>
  