
@page
@using MIS353_ApplicationGroupKEAH.Pages
@model WeatherModel
@{
    
}
<input id="inputfld" placeholder="X,Y" />
<button id="submitBtn" onclick="fetchinfo();" class="btn btn-secondary"> Search </button>

<div id="ouput"></div>

<script>



</script>
